# Media, Moda, Desviación (feminicidio.csv)

In [3]:
import numpy as np
from scipy import stats

import pandas as pd 
df = pd.read_csv("feminicidio.csv")
df.head()

,Departamento,Area,Relación,Hijos,Victima,Denunciado
0,Oruro,Urbana,Cónyuge,Sí,27 – 59 (adulta),27 – 59 (adulto)
1,Cochabamba,Urbana,Otra pareja sentimental,No,18 – 26 (joven),18 – 26 (joven)
2,Cochabamba,Urbana,Ex conviviente,No,18 – 26 (joven),18 – 26 (joven)
3,Cochabamba,Urbana,Cónyuge,Sí,60 – Más años (adulta mayor),60 – Más años (adulto mayor)
4,Cochabamba,Urbana,Conviviente,No,18 – 26 (joven),18 – 26 (joven)

La media aritmetica no aplica por que los datos son cualitativos

La moda por columnas

In [6]:
moda=stats.mode(df)
print(moda)

ModeResult(mode=array([['La Paz', 'Urbana', 'Cónyuge', 'No', '27 – 59 (adulta)',
        '27 – 59 (adulto)']], dtype=object), count=array([[ 60, 156,  47, 103,  91,  92]]))

In [7]:
print(moda[0])

[['La Paz' 'Urbana' 'Cónyuge' 'No' '27 – 59 (adulta)' '27 – 59 (adulto)']]

La desviacion estandar no aplica por que los datos son cualitativos