# Media, Moda, Desviaci√≥n (vino.csv)

In [1]:
import numpy as np
from scipy import stats

import pandas as pd 
df = pd.read_csv("vino.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

La media aritmetica por columnas

In [2]:
print(np.mean(df,axis=0))

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
dtype: float64

La moda por columnas

In [3]:
moda=stats.mode(df)
print(moda)

ModeResult(mode=array([[ 7.2   ,  0.6   ,  0.    ,  2.    ,  0.08  ,  6.    , 28.    ,
         0.9972,  3.3   ,  0.6   ,  9.5   ,  5.    ]]), count=array([[ 67,  47, 132, 156,  66, 138,  43,  36,  57,  69, 139, 681]]))

In [4]:
print(moda[0])

[[ 7.2     0.6     0.      2.      0.08    6.     28.      0.9972  3.3
   0.6     9.5     5.    ]]

La desviacion estandar por columnas

In [5]:
print(np.std(df,axis=0))

fixed acidity            1.740552
volatile acidity         0.179004
citric acid              0.194740
residual sugar           1.409487
chlorides                0.047051
free sulfur dioxide     10.456886
total sulfur dioxide    32.885037
density                  0.001887
pH                       0.154338
sulphates                0.169454
alcohol                  1.065334
quality                  0.807317
dtype: float64